torch==2.4.1
torchvision==0.19.1
torchmetrics==1.4.2
numpy<2

timm
einops
opencv-python
tqdm
torchprofile
scipy
torch-fidelity
diffusers
omegaconf
ipdb

matplotlib
huggingface-hub
transformers
onnx
onnxsim
onnxruntime

pycocotools
lvis
scikit-image
clean-fid

pydicom
monai
